### DataFrame

Um DataFrame é uma estrutura tabular bidimensional, similar a uma planilha ou tabela de banco de dados, onde os dados são organizados em linhas e colunas.

In [8]:
import pandas as pd

In [9]:
#Criando um DataFrame

dados = {'Nome': ['Lucca','Daniel','Angular'], 
         'Idade': [24, 30, 35],
         'Salario': [5000, 6000, 8000]
        }

df = pd.DataFrame(dados)
df

      Nome  Idade  Salario
0    Lucca     24     5000
1   Daniel     30     6000
2  Angular     35     8000

Em um df posso aplicar funções para explorar, tratar e manipular os dados tanto em toda a sua estrutura como em uma ou mais colunas (series)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Nome     3 non-null      object
 1   Idade    3 non-null      int64
 2   Salario  3 non-null      int64
dtypes: int64(2), object(1)
memory usage: 204.0+ bytes

In [11]:
df['Salario'].mean()

## ou df.Salario.mean()

## Calculando a média da coluna Salário

np.float64(6333.333333333333)

### Series

Um Series é uma estrutura unidimensional que armazena uma sequência de valores indexados. Podemos dizer que um df é uma sequência de vários Series nomeados e organizados coluna por colunas e ordenados pelos índices.

In [5]:
idades = pd.Series([45, 30, 45, 40, 25])
idades

0    45
1    30
2    45
3    40
4    25
dtype: int64

In [6]:
idades.index

RangeIndex(start=0, stop=5, step=1)

Acima lemos os índices do Series. Como estão numerados de 0 até 4, o código representa que o índice é gerado pelo RangeIndex()partindo de 0 até 5 de um a um.

In [7]:
idades.sort_values()

4    25
1    30
3    40
0    45
2    45
dtype: int64

Na linha acima, ordenamos apenas os valores de idades em ordem crescente, sem alterar os índices.