Um franquia de restaurantes populares que oferece uma ampla variedade de pratos de culinária francesa e italiana me passou uma demanda para anilisar os dados das vendas de 'Ratatouille' no 2° semestre de 2023.

In [4]:
import pandas as pd

sales_2semestre = pd.read_csv("serenatto_2sem_2023.csv")
sales_2semestre.head()

     id        data           produto  valor   metodo_pagamento
0  2720  2023-07-01  Risoto de Funghi   13.0   Cartão de Débito
1  2721  2023-07-02          Tiramisù   10.0   Cartão de Débito
2  2722  2023-07-02          Tiramisù   10.0  Cartão de Crédito
3  2723  2023-07-02       Ratatouille    8.5                PIX
4  2724  2023-07-03       Ratatouille    8.5           Dinheiro

Para a análise, foram pedidos duas ações:
* Somatório de todas as vendas de 'Ratatouille' do período;
* Frequência dos métodos de pagamentos para o 'Ratatouille'.

In [5]:
somatorio_vendas = sales_2semestre.query("produto == 'Ratatouille' ").valor.sum()
somatorio_vendas

np.float64(323.0)

In [6]:
freq_metod_pag = sales_2semestre.query("produto == 'Ratatouille' ").metodo_pagamento.value_counts()
freq_metod_pag

metodo_pagamento
PIX                  13
Cartão de Débito     10
Dinheiro              9
Cartão de Crédito     6
Name: count, dtype: int64

In [7]:
print(f"A venda de Ratatouille dentro do período foram de R${somatorio_vendas}")
print(f"\nOs métodos de pagamento utilizados: \n{freq_metod_pag}")

A venda de Ratatouille dentro do período foram de R$323.0

Os métodos de pagamento utilizados:
metodo_pagamento
PIX                  13
Cartão de Débito     10
Dinheiro              9
Cartão de Crédito     6
Name: count, dtype: int64

Moral da história:
* Utilizando a função <code> .sum() </code> para extrair o somatório das vendas (colum valor). 
* Utilizando a função <code> .value_counts() </code> para ter a quantidade total dos métodos de pagamento utilizado para aquele prato.<br>
  <sub>  obs: Consigo adentrar dentro de uma coluna específica e extrair o value_counts() apenas dela. </sub>